<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleIconFile</key>
        <string>qlipper.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
        <key>CFBundleGetInfoString</key>
        <string>Lightweight clipboard manager</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>qlipper</string>
	<key>CFBundleIdentifier</key>
        <string>cz.yarpen.qlipper</string>
	<key>NOTE</key>
        <string>Icon is disabled from dock. Only systray is used.</string>
        <key>LSUIElement</key>
        <string>1</string>
</dict>
</plist>
