[Desktop Entry]
Terminal=false
TryExec=qlipper
Exec=qlipper
Icon=qlipper
Type=Application
Categories=Qt;Utility;
StartupNotify=false
Name=Qlipper
Name[ca]=Qlipper
Name[da]=Qlipper
Name[fr]=Qlipper
Name[ja]=Qlipper
Name[lt]=Qlipper
Name[pt]=Qlipper
Name[sr]=Кјулипер
Name[sr@ijekavian]=Кјулипер
Name[sr@ijekavianlatin]=Kjuliper
Name[sr@latin]=Kjuliper
Name[sv]=Qlipper
GenericName=Clipboard Tool
GenericName[ca]=Eina de porta-retalls
GenericName[da]=Udklipsholderværktøj
GenericName[de]=Zwischenablage
GenericName[fr]=Presse-papiers
GenericName[ja]=クリップボード ツール
GenericName[lt]=Iškarpinės įrankis
GenericName[pt]=Ferramenta da área de transferência
GenericName[sr]=Алатка за клипборд
GenericName[sr@ijekavian]=Алатка за клипборд
GenericName[sr@ijekavianlatin]=Alatka za klipbord
GenericName[sr@latin]=Alatka za klipbord
GenericName[sv]=Urklippshanterare
Comment=Clipboard history tool
Comment[ca]=Eina de l'historial del porta-retalls
Comment[da]=Historikværktøj for udklipsholder
Comment[de]=Anwendung zur Handhabung der Zwischenablage
Comment[fr]=Un outil d'historique du presse-papiers
Comment[ja]=クリップボード履歴のツールです
Comment[lt]=Iškarpinės istorijos įrankis
Comment[pt]=Ferramenta de histórico da área de transferência
Comment[sr]=Алатка за историјат исецања и налепљивања
Comment[sr@ijekavian]=Алатка за историјат исецања и налепљивања
Comment[sr@ijekavianlatin]=Alatka za istorijat isecanja i nalepljivanja
Comment[sr@latin]=Alatka za istorijat isecanja i nalepljivanja
Comment[sv]=Historikverktyg urklipp
