[Desktop Entry]
Terminal=false
TryExec=qlipper
Exec=qlipper
Icon=qlipper
Type=Application
Categories=Qt;Utility;
StartupNotify=false
Name=Qlipper
Name[fr]=Qlipper
Name[sr]=Кјулипер
Name[sr@ijekavian]=Кјулипер
Name[sr@ijekavianlatin]=Kjuliper
Name[sr@latin]=Kjuliper
GenericName=Clipboard Tool
GenericName[de]=Zwischenablage
GenericName[fr]=Presse-papiers
GenericName[sr]=Алатка за клипборд
GenericName[sr@ijekavian]=Алатка за клипборд
GenericName[sr@ijekavianlatin]=Alatka za klipbord
GenericName[sr@latin]=Alatka za klipbord
Comment=Clipboard history tool
Comment[de]=Anwendung zur Handhabung der Zwischenablage
Comment[fr]=Un outil d'historique du presse-papiers
Comment[sr]=Алатка за историјат исецања и налепљивања
Comment[sr@ijekavian]=Алатка за историјат исецања и налепљивања
Comment[sr@ijekavianlatin]=Alatka za istorijat isecanja i nalepljivanja
Comment[sr@latin]=Alatka za istorijat isecanja i nalepljivanja
