[Desktop Entry]
Type=Application
Name=Qlipper
TryExec=qlipper
Exec=qlipper
OnlyShowIn=LxQt;

#TRANSLATIONS_DIR=translations


# Translations
Name[uk]=Qlipper
